a {
  text-decoration: none;
  color: #555;
  &:hover {
    opacity: 0.8;
  }
}
.logo {
  font-size: 1.5rem;
  &_accent1 {
    color: rgb(241, 235, 59);
    font-weight: bold;
  }
  &_accent2 {
    color: rgb(68, 246, 125);
    font-weight: bold;
  }
}
