.hero {
  margin: 100px 0px;
  &-text {
    font-size: calc(24px + 1.5vw);
    line-height: 1.2;
  }
  &-author {
    display: flex;
    align-items: center;
    &-img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    &-text {
      color: #595959;
      margin: 0 0 0 10px;
    }
  }
}
